/.aicodereview.yml export-ignore
/.github export-ignore
/examples export-ignore
/tests export-ignore
/.php-cs-fixer.php export-ignore
/.phpunit.result.cache export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
